@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
    --black: #141414;
    --dark-grey: #1f1f1f; 
    --white: #FFF;
}




body {
    background-color: var(--black);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: var(--dark-grey);
    color: var(--white);
    width: 384px;
    text-align: center;
    border-radius: 12px;
    padding: 40px;
}

img {
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 4px;
}

il, li {
    list-style: none;
} 